<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		/>

		<title>A simple Chat app</title>
		<link
			rel="shortcut icon"
			href="https://img.icons8.com/doodle/32/000000/weixing.png"
			type="image/x-icon"
		/>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/jBox/1.3.3/jBox.all.min.css"
			integrity="sha512-nFY49gtmPRBEmtfDD+M5eJynOp9Pmdvr95Ck9iDvUt7VH7VByO5/E25MB/hzgSix8RFM6AlulSHuUteAhGqI4A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="./css/style.css" />
	</head>
	<body>
		<div class="row">
			<div id="chat-container" class="">
				<form id="message_form">
					<div class="form-group form-group-lg mt-3">
						<h1>Send <span id="sencond-letter">Message</span></h1>

						<input
							type="text"
							class="form-control col-xs-12 col-md-6"
							placeholder="Enter your name"
							id="user_name"
						/>
					</div>
					<div class="form-group form-group-lg mt-3">
						<input
							type="text"
							class="form-control col-xs-12 col-md-6"
							placeholder="Enter your message"
							id="user_mess"
						/>
					</div>

					<button type="submit" class="btn mt-3" id="send">Send</button>
				</form>
			</div>
		</div>

		<div class="row">
			<div id="message-container">
				<div id="messages_viewer"></div>
			</div>
		</div>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
			integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jBox/1.3.3/jBox.all.min.js"
			integrity="sha512-lcO0bt0QjKjwKMYawS/z2H1GU1lREkirqC9PyU5TyaYqAYRlVG7dLhed9PML6dg3PSMypqTuP9Y7N+32U7fA9g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"
			integrity="sha512-PU5S6BA03fRv1Q5fpwXjg5nlRrgdoguZ74urFInkbABMCENyx5oP3hrDzYMMPh3qdLdknIvrGj3yqZ4JuU7Nag=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		<script src="./js/main.js"></script>
	</body>
</html>
